@model IEnumerable<IBetApp.Models.BetInfoViewModel>

@{
    ViewBag.Title = "AllBets";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneySum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (ViewBag.IsMyBets == true)
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @item.StartDate.ToShortDateString()
        </td>
        <td>
           @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneySum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
       @if (ViewBag.IsMyBets == true)
       {
        <td>
            @Html.ActionLink("Win", "Win", "Bet", new { betId = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Lose", "Lose", "Bet", new { betId = item.Id }, new { @class = "btn btn-default" })
        </td>
       }
    </tr>
}

</table>
