@model IBetApp.Models.CreateBetViewModel

@{
    ViewBag.Title = "CreateWithMultipleUsers";
}

@*@using (Ajax.BeginForm("CreateBet", "Bet", FormMethod.Post, new AjaxOptions { }))*@

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MoneySum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoneySum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoneySum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.InterestName, Model.Interests, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
       <div><div class="col-md-8"></div>
        <div class="col-md-4"><a href="#" class="link btn btn-default">Create</a></div>
        </div> 
    </div>


    <div class="col-md-8" id="list-of-users">
        @Html.Partial("UsersListPartialView", Model.Users)
    </div>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $('.link').click(function() {
        @*var model = @Html.Raw(Json.Encode(Model));
        alert(JSON.stringify(model));*@
        var json = JSON.stringify(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        alert(json);
        $.post("/Bet/CreateBet", { jsonModel: json }, function (result) {
            if (result != null) {
                $("html").html(result);
            }
            else {
                alert("fail");
            }
        });
    });

</script>