@model IEnumerable<IBetApp.Models.BetInfoViewModel>

@{
    ViewBag.Title = "Public bets";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneySum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneySum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublic)
        </td>
        @if (ViewBag.IsMyBets == true)
        {
            @Html.ActionLink("Win", "Win", "Bet", new { betId = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Lose", "Lose", "Bet", new { betId = item.Id }, new { @class = "btn btn-default" })

        }
    </tr>
}

</table>
