@model IEnumerable<IBetApp.Models.NewBetsViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BetInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BetInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>

    </tr>
}
  
</table>@Html.ActionLink("All bets", "AllBets", "Bet")
